<div class="thumbnail story_update" >
  <div class="row">
    <div class="col-md-6">
      <h4> <%= link_to story_update.story.title, story_path(story_update.story) %></h4>
    </div>
    <div class="col-md-6">
      <h6 class="pull-right"> <%= story_update.story.adress %></h6>
    </div>
  </div>
  <div class="well">
    <%= story_update.description %>
  </div>
  <%= image_tag story_update.photo_url(:thumb) %>
  <br>
  <p>
    Added <%= time_ago_in_words(story_update.created_at) %> ago
  </p>
</div>