<%= form_for(@story_update, :html => {:multipart => true, :class=>"form-horizontal"}) do |f|%>
  <%= render 'error_messages'%>
  <div class="form-group">
    <%= f.label :description, :class=> "col-sm-2 control-label" %>
    <div class="col-sm-6">
     <%= f.text_area :description, :class=>"form-control", :rows=>"3" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :photo, :class=> "col-sm-2 control-label"%>
    <div class="col-sm-6">
      <%= image_tag(@story_update.photo_url) if @story_update.photo? %>
      <%= f.file_field :photo %>
      <%= f.hidden_field :photo_cache %>
    </div>
  </div>
  <%= f.submit "Update",:class=>"btn btn-primary"%>
<%end%>