<div class="row">
  <div class="col-md-7">
  <h3><%= t('story_updates.feed_from_all_updates') %></h3>
    <div id="story_updates">
      <div class="page">
        <%= render @story_updates %>
      </div>
    </div>
    <%= paginate @story_updates %>
  </div>
 <div class="col-md-4 col-md-offset-1">
    <h3>Top stories list</h3>
    <ul class="ul">
      <% @top_stories.each do |story| %>
        <li><%= link_to story.title, story_path(story) %></li>
      <%end%>
    </ul>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <h3>Latest stories list</h3>
    <ul class="ul">
      <% @latest_stories.each do |story| %>
        <li><%= link_to story.title, story_path(story) %></li>
      <%end%>
    </ul>
  </div>
</div>