<h1>New Story</h1>
<%= form_for @story do |f| %>
   <%= render 'error_messages'%>
   <%= f.label :title %>

    <div class="form-inputs">
      <%= f.text_field :title %>
    </div>

    <%= f.label :adress %>
     <div class="form-inputs">
      <%= f.text_field :adress %>
    </div>

<div class="form-submit">
    <%= f.button :submit %>
  </div>

<%end%>