<h1> Show </h1>
<%= link_to "add update", new_story_story_update_path(@story.id) %>
<h4>Title</h4>
<p>
  <%= @story.title %>
</p>
<h4> Address</h4>
<p>
  <%= @story.adress %>
</p>
<% @story.story_updates.each do |update| %>
<%= image_tag update.photo_url if update.photo?%>
  <h3> Description </h3>
  <p>  <%= update.description %> </p>
<%end%>